@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

:root {
	--color-theme1-logo: #f4a226;
	--color-theme1-form: #e5771f;
	--color-theme1-list: #5a3e2b;
	--color-theme1-stats: #76c7ad;
	--color-theme1-accent: #ffebb3;

	--color-theme2-logo: #2d6a4f;
	--color-theme2-form: #40916c;
	--color-theme2-list: #1b4332;
	--color-theme2-stats: #b7e4c7;
	--color-theme2-accent: #d8f3dc;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 2.4rem;
	color: #5a3e2b;
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
}
